body {
  margin: 0;
  font-family: Roboto, Arial;
}
/* Welcome Page */
.main {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 100px;
  padding: 100px;
}

.content {
  flex: 1fr;
}

.link-btn {
  background-color: white;
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 10px;
  border: 1px;
  border-style: solid;
  border-radius: 30px;
}

.link-btn:hover {
  color: white;
  background-color: black;
}

/* Form Page */

.form_main {
  max-width: 600px;
  margin: 0 auto;
}

form {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-top: 15px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.form-check {
  margin-bottom: 10px;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.custom-file-input {
  color: blue;
}